body {
    background-color: aliceblue;
    font-family: Open Sans;
}
h1, h2 {
    text-align: left;
}
p {
    text-align: left;
    margin: 2px;
}
.footer {
    position: fixed;
    display: block;
    padding: 10px;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    background-color: lightslategray;
    color: whitesmoke;
}
